@{
    ViewData["Title"] = "ManualWithSeparateHandlers";
    bool isResultDisplayed = !string.IsNullOrEmpty(ViewBag.Result);
}
<div class="UMcount">
<main class="mainmodel">
        @if (!isResultDisplayed)
        {
            <h1>ManualWithSeparateHandlers</h1>

            <form asp-action="ManualParsingSeparateAction" method="post">
                <div class="form-group">
                    @Html.TextBox("Number1", @ViewData["Result"] ?? "", new { @class = "form-control"})
                </div>
                <div class="form-groupoper">
                    <select name="Operation" class="form-controll">
                        <option value="+" selected="@(ViewBag.Operation == "+")">+</option>
                        <option value="-" selected="@(ViewBag.Operation == "-")">-</option>
                        <option value="*" selected="@(ViewBag.Operation == "*")">*</option>
                        <option value="/" selected="@(ViewBag.Operation == "/")">/</option>
                    </select>
                </div>
                <div class="form-group">
                    @Html.TextBox("Number2", @ViewData["Result"] ?? "", new { @class = "form-control"})
                </div>
                <button type="submit" class="btn btn-primary mt-3">Submit</button>
            </form>
        }
else{
            <div class = "result">
                <h1>Result</h1>
                @ViewBag.Number1 @ViewBag.Operation @ViewBag.Number2 = @ViewBag.Result
            </div>
}
</main>
</div>