@{
    ViewData["Title"] = "ModelBindingInSeparateModel";
    bool isResultDisplayed = !string.IsNullOrEmpty(@Model.Result); 
}
@model Value
<div class="UMcount">
<main class="mainmodel">
        @if (!isResultDisplayed)
        {
            <h1>ModelBindingInSeparateModel</h1>

            <form asp-action="ModelBindingSeparateModel" method="post">
                <div class="form-group">

                    @Html.TextBox("Number1",  @Model.Result ?? "", new { @class = "form-control"})
                </div>
                <div class="form-groupoper">

                    <select name="Operation" class="form-controll">
                        <option value="+" selected="@(Model.Operation == "+")">+</option>
                        <option value="-" selected="@(Model.Operation == "-")">-</option>
                        <option value="*" selected="@(Model.Operation == "*")">*</option>
                        <option value="/" selected="@(Model.Operation == "/")">/</option>
                    </select>
                </div>
                <div class="form-group">

                    @Html.TextBox("Number2", @Model.Result ?? "", new { @class = "form-control"})
                </div>
                <button type="submit" class="btn btn-primary mt-3">Submit</button>
            </form>
        }
else{
            <div class = "result">
                <h1>Result</h1>
                @Model.Result
            </div>
}
</main>
</div>